<!DOCTYPE html>
<html lang="en">


<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta property="og:title" content="DCLBuilderAI" />
   <meta property="og:description" content="Generate Decentraland Scripts and Scenes with AI" />
   <meta property="og:image" content="https://images.ctfassets.net/ea2ybdmmn1kv/3j27wEOUt2zIWJOYoL8fjF/967306b22421d3f890b05ec815d0a34d/banner_2020-09-16_governance-517ddb1597c85fa0efd1f5cfe765fe45.jpg" />
   <meta property="og:type" content="website">
   <meta property="og:url" content="https://dclbuilderai.com/">
   <title>DCLBuilderAI - Generate Decentraland Assets Using AI</title>
   <!--Favicon img-->
   <link rel="shortcut icon" href="img/123ABC-removebg-preview.png">
   <!--main css-->
   <link rel="stylesheet" href="css/main.css">
</head>

<body>

<!-- Preloader Start Here -->
<div class="preloader__wrap">
   <div class="preloader__box">
      <div class="robot">
         <img src="img/elements/ponkhi.png" alt="img">
      </div>
   </div>
</div>
<!-- Preloader End Here -->



<!-- Header top Here -->
<header class="header-section">
   <div class="container">
      <div class="header-wrapper">
         <div class="logo-menu" style="margin-top: 15px;">
            <a href="index.html" class="logo">
               <img src="img/daol1.png" alt="logo">
            </a>
            <a href="index.html" class="small__logo d-xl-none">
               <img src="img/daol1.png" alt="logo">
            </a>
         </div>
         <div class="menu__right__components compoent__middle d-flex align-items-center">
            <div class="menu__components">
                <a href="javascript:void(0)" class="mode--toggle">
                  <img src="img/moon.png" alt="icon">
               </a>
               <!-- <div class="search-button" role="tablist">
                  <button class="nav-link" id="search" aria-selected="false" tabindex="-1" role="tab">
                      <span class="icons"><i class="material-symbols-outlined">
                        search
                        </i>
                     </span>
                  </button>
                  <div class="search-popup" style="display: none;">
                    <div class="search-bg"></div>
                    <div class="search-form" style="right: -100%;">
                       <form action="javascript:void(0)">
                        <div class="form">
                          <input type="text" id="searchs2" placeholder="Search">
                        </div>
                      </form>
                    </div>
                  </div>
               </div> -->

               <a href="/login" class="cmn--btn">
                  <span>
                     Signin
                  </span>
               </a>
            </div>
            <div class="header-bar d-lg-none">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
         <ul class="main-menu">
            <li>
               <a href="javascript:void(0)" class="d-flex">
                  <li><a href="#">Home</a></li>
                  <li><a href="/login">Log In</a></li>




         </ul>
         <div class="menu__right__components right__com d-flex align-items-center">
            <div class="menu__components">
               <a href="javascript:void(0)" class="mode--toggle">
                  <img src="img/moon.png" alt="icon">
               </a>
               <!-- <div class="search-button" role="tablist">
                  <button class="nav-link" id="search2" aria-selected="false" tabindex="-1" role="tab">
                      <span class="icons"><i class="material-symbols-outlined">
                        search
                        </i>
                     </span>
                  </button>
                  <div class="search-popup2" style="display: none;">
                    <div class="search-bg2"></div>
                    <div class="search-form2" style="right: -100%;">
                      <form action="javascript:void(0)">
                        <div class="form">
                          <input type="text" id="searchs" placeholder="Search">
                        </div>
                      </form>
                    </div>
                  </div>
               </div> -->

               <!-- <a href="signup.html" class="cmn--btn">
                  <span>
                     Signin
                  </span>
               </a> -->
               <ul class="social">
                  <li>
                     <a href="javascript:void(0)" class="social__item">
                        <span class="icon">
                           <img src="img/svg-icon/facebook.svg" alt="svg">
                        </span>
                     </a>
                  </li>
                  <li>
                     <a href="javascript:void(0)" class="social__item social__itemtwo">
                        <span class="icon">
                           <img src="img/svg-icon/instagram.svg" alt="svg">
                        </span>
                     </a>
                  </li>
                  <li>
                     <a href="javascript:void(0)" class="social__item social__itemthree">
                        <span class="icon">
                           <img src="img/svg-icon/twitter.svg" alt="svg">
                        </span>
                     </a>
                  </li>
                  <li>
                     <a href="javascript:void(0)" class="social__item social__itemfour">
                        <span class="icon">
                           <img src="img/svg-icon/linkedin.svg" alt="svg">
                        </span>
                     </a>
                  </li>
               </ul>
            </div>
            <div class="header-bar d-lg-none">
               <span></span>
               <span></span>
               <span></span>
            </div>
         </div>
      </div>
   </div>
</header>
<!-- Header top End -->

<!-- Banner Here -->
<section class="banner__section bannerbg">
   <!--Mask-->
   <div class="banner__bgmask">
      <img src="img/elements/box-element.png" alt="mask">
   </div>
   <!--Mask-->
   <!--Container-->
   <div class="container">
      <div class="banner__wrapper">
         <div class="row g-4  justify-content-between">
            <div class="col-xxl-6 col-xl-6 col-lg-6">
               <div class="banner__content">
                  <div class="content__box">
                     <span class="d3 mb-0  wow fadeInUp" data-wow-duration="2s">

                         DCLBuilderAI
                     </span>
                     <span class="d3 wow fadeInDown" data-wow-duration="4s">
                        is an  <span class="theme">AI-powered </span>build tool  for <span class="theme2"> Decentraland</span>
                     </span>
                     <p class="wow fadeInUp" data-wow-duration="2s">
                        DCLBuilderAI is an AI-powered asset generation tool for Decentraland. It is DAO-funded and currently in private beta.
                     </p>
                     <div class="btg__grp wow">
                        <a href="https://forms.gle/UVS6BiRnpR1b95919" target="_blank" class="cmn--btn">
                           <span>Request Beta</span>
                        </a>
                        <a href="https://youtu.be/fFZwTjou43Y" target="_blank" class="play__btn viddeo-btn">
                           <span class="play__icon">
                              <i class="material-symbols-outlined">
                                 play_arrow
                              </i>
                           </span>
                           <span>
                              Watch Demo Video
                           </span>

                        </a>
                     </div>

                 </div>
                  <div class="ai__text">
                     <img src="img/elements/t-element.png" alt="ai">
                  </div>
                  <div class="ai__elements">
                     <img src="img/elements/ai-element.png" alt="ai">
                  </div>
               </div>

            </div>
            <div class="col-xxl-1 col-xl-1 col-lg-1"></div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-8">
               <div class="banner__thumb">
                  <div class="thumb">
                     <img style="border-radius: 50px;width: 600px;height: 500px;" src="img/111-artificial-intelligence-a-modern-approach-removebg-preview.png" alt="banner">
                  </div>
                  <div class="rocket__element">
                     <img src="img/elements/rocket-element.png" alt="rocket">
                  </div>
               </div>
            </div>
            <div class="col-xxl-1 col-xl-1 col-lg-1"></div>
         </div>
      </div>
   </div>
   <!--Container-->
   <!--Elements-->
   <div class="ball__element">
      <img src="img/elements/ball-element.png" alt="ball">
   </div>
   <div class="banner__mask">
      <img src="img/elements/shape-element1.png" alt="mask">
   </div>
   <div class="dark__mask d-none">
      <img src="img/elements/banner-shape1-dark.png" alt="mask">
   </div>
   <div class="light__element1">
      <img src="img/elements/light-elements.png" alt="light">
   </div>
   <div class="light__element2">
      <img src="img/elements/light-elements.png" alt="light">
   </div>
   <div class="light__element3">
      <img src="img/elements/light-elements.png" alt="light">
   </div>
   <div class="light__element4">
      <img src="img/elements/light-elements.png" alt="light">
   </div>
   <div class="light__element5">
      <img src="img/elements/light-elements.png" alt="light">
   </div>
   <!--Elements-->
</section><br>
<br><br>
<!-- Banner End -->


   <!--Jquery 3 6 0 Min Js-->
   <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery-3.6.0.min.js"></script>
   <!--Bootstrap bundle Js-->
   <script src="js/bootstrap.bundle.min.js"></script>
   <!--Viewport Jquery Js-->
   <script src="js/viewport.jquery.js"></script>
   <!--Odometer min Js-->
   <script src="js/odometer.min.js"></script>
   <!--Magnifiw Popup Js-->
   <script src="js/jquery.magnific-popup.min.js"></script>
   <!--Wow min Js-->
   <script src="js/wow.min.js"></script>
   <!--Owl carousel min Js-->
   <script src="js/owl.carousel.min.js"></script>
   <!--Prijm Js-->
   <script src="js/prism.js"></script>
   <!--main Js-->
   <script src="js/main1.js"></script>
</body>


<!-- Mirrored from pixner.net/intellicon/intellicon/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 May 2023 19:25:54 GMT -->
</html>
